<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libratech.mia"
    android:versionCode="1"
    android:versionName="1.0.001">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gklogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.libratech.mia.activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.libratech.mia.activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.FeedbackActivity"
            android:label="Expired Products"
            android:screenOrientation="portrait" />
        <!-- <activity
             android:name="com.libratech.mia.activities.ViewProductActivity"
             android:label="View Product"
         android:screenOrientation="portrait" />    -->
        <activity
            android:name=".utilities.ScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.libratech.mia.activities.UpdateProductActivity"
            android:label="Update Product"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libratech.mia.activities.ViewNewProduct"
            android:label="New Products"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.libratech.mia.activities.StoreReviewActivity"
            android:label="Store Review"
            android:screenOrientation="portrait" />

        <!--   <activity
               android:name="com.libratech.mia.activities.Settings"
               android:label="@string/title_activity_settings"></activity>

           <activity
               android:name="com.libratech.mia.activities.UserControl"
               android:parentActivityName="com.libratech.mia.Settings">
               <meta-data
                   android:name="android.support.PARENT_ACTIVITY"
                   android:value="com.libratech.mia.Settings" />
           </activity>
           <activity
               android:name="com.libratech.mia.activities.ProductControl"
               android:label="@string/title_activity_product_control"
               android:parentActivityName="com.libratech.mia.Settings">
               <meta-data
                   android:name="android.support.PARENT_ACTIVITY"
                   android:value="com.libratech.mia.Settings" />
           </activity>
           <activity
               android:name="com.libratech.mia.activities.StoreControl"
               android:label="@string/title_activity_store_control"
               android:parentActivityName="com.libratech.mia.Settings">
               <meta-data
                   android:name="android.support.PARENT_ACTIVITY"
                   android:value="com.libratech.mia.Settings" />
           </activity>-->
        <activity
            android:name="com.libratech.mia.activities.AddProduct"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libratech.mia.activities.DeleteProduct"
            android:label="@string/title_activity_delete_product"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.AddNewProduct"
            android:label="New Product Details"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.AddStore"
            android:label="@string/title_activity_add_store"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.AddUser"
            android:label="@string/create_user"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.DeleteUser"
            android:label="@string/delete_user"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.DeleteStore"
            android:label="@string/delete_store"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.AddDiscountProductActivity"
            android:label="Discounted Products"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.AddBandedOffer"
            android:label="Banded Offers"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.InStoreSampling"
            android:label="Product Samples"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.SuggestionBox"
            android:label="@string/title_activity_suggestion_box"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.DeleteInStoreSample"
            android:label="@string/title_activity_delete_in_store_sample"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.DeleteDiscountProduct"
            android:label="@string/title_activity_delete_discount_product"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.DeleteSuggestionBox"
            android:label="@string/title_activity_delete_suggestion_box"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.Promotions"
            android:label="@string/title_activity_promotions"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.NewProductsControl"
            android:label="@string/title_activity_new_products_control"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.DiscountedProductsControl"
            android:label="@string/title_activity_discounted_products_control"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.BandedProductsControl"
            android:label="@string/title_activity_banded_products_control"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.InstoreSamplingControl"
            android:label="@string/title_activity_instore_sampling_control"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.FeedbackControl"
            android:label="@string/title_activity_feedback_control"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.SuggestionControl"
            android:label="@string/title_activity_suggestion_control"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.ViewSuggestion"
            android:label="Suggestions"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".utilities.ActivityControl"
            android:label="View Suggestions"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.AllProductsActivity"
            android:label="All Products"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.libratech.mia.activities.ViewBanded"
            android:label="View Banded"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>